*{
    box-sizing: border-box;
    margin:0;
    scroll-behavior: smooth;
    position: relative;
}

.temp{
   border: 1px solid black;
   width: 100%;
   height: auto;
}
.center{
  margin-top:20px;
  color: black;
}

/* head contact */
.top-con{
   background-color:#F7F3EE;
   color:black;
   display: flex;
   justify-content: space-around;
   padding: 10px;
  

 }
 .top-con h4{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left:20px ;
    padding-right: 20px;
 }
 .top-con a{
    text-decoration: none;
    color:black;
    font-weight: 600;
 }
 .top-con a:hover{
   transform: scale(1.2);

 }
 
/* here is the styling of logo*/
.small-logo img{
   width: 60px;
   height: 50px;
}
/* navigation is styled here */
.nav{
   position: relative;
   display: flex;
   justify-content: center;
   background-color: white;
   align-items: center;
  
   height: 8vh;
   width: 1000px;
   margin: auto;
   width: 100%;
}

.sticky {
   position: fixed;
   top: 0;
   width: 100%; 
   z-index: 10;
 }
 .sticky + .content {
   padding-top: 60px;
 }
.link{
    display: flex;
}
.nav li{
   list-style: none;
   padding: 10px;
  
   text-transform: uppercase;
 
}

.nav a{
  
    color: black;
    width: 100%;
    font-size: larger;
    border: none;
    padding: 14px 16px;
  font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

.link .active{
   background-color: #ddcccc;
   box-shadow: 1px 2px 3px;
   color:rgb(112, 107, 107);
   border-radius: 10px;
}
.nav .tablink:hover{
   color: #6b4c4c;
   background-color: #ddcccc;
   box-shadow: 1px 2px 3px;
   color:rgb(112, 107, 107);
   border-radius: 10px;
  
  }
  .small-logo{
   display: none;
 }
  

/*for responsive STYLING */

.burger{
   display:none;
  
 }

 .line1,.line2,.line3{
    width: 25px;
    height: 5px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
 }
.bod{
   overflow-y: hidden;
}
   
@media screen and (max-width: 760px){
   .burger{
     display: block;
    
   }
   .small-logo{
      display: block;
   }
   .nav{
     flex-direction: column;
  height: auto;
  
      
   }
   .nav ul{
      flex-direction: column;
   }
   .res{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      border-bottom: 1px solid black;
   }

  body{
      overflow-x: hidden;
  }
   .link{
       display: none;
       
      
       align-items: center;
        width:100%;
       
        transition: 3s ease-out;
       padding: 30px;
   }

   .ncc{
      display: none;
   }
  

}
@media screen and (max-width:500px) {
   .nit img{
      height: 100px;
      width: 100px;
     
   }
  body{
     overflow-x: hidden;
  }
   .center{
       font-size: smaller;
   }
   
}
   .nav-active{
    display: flex;
   opacity: 1;
  
   }
   .toggle .line1{
       transform: rotate(45deg) translate(5px,5px);
       width: 25px;
     }
     .toggle .line2{
      opacity: 0;
     }
     .toggle .line3{
       transform: rotate(-45deg) translate(7px, -6px);
      width: 25px;
       
     }
     .bsdk{
        display: none;
     }
    
/* styling of head section */
.ncc img{
   
    width: 130px;
    height: 120px;
   
    margin-top: 10px;
  
}
.head{
   display: flex;
   width: 100%;
   height: auto;
   justify-content:center;

}
.nit img{
   
   width: 130px;
   height: 130px;
 
    
}

#slideshow{
   overflow: hidden;
   height: 600px;
   max-width: 1000px;
   margin: auto;
   border-radius: 6px;
  margin-top: 10px;
}

.slides{
   float: left;
   height: 600px;
   max-width: 1000px;

}
.slides img{
   width: 100%;
   height: 100%;
}
.slide-wrapper{
   width: calc(1000px*4);
   animation: slide 30s ease infinite;
}
#slideshow:hover{
   animation-play-state: paused;
}

@keyframes slide{

   20% {
      margin-left: 0px;
  }
  40% {
      margin-left: calc(-1000px * 1);
  }
  60% {
      margin-left: calc(-1000px * 2);
  }
  80% {
      margin-left: calc(-1000px * 3);
  }
}



img {
   vertical-align: middle;
}


.box{
    width: 150px;
    color: white;
    text-align: center;
    padding: 4px;
    background-color:#260075;border-radius: 5px;
}
.newss{
  
   color: black;
   font-weight: bolder;
    background-color:#3787BA; width: 100%;
}



.news{
   display: flex;
   justify-content: flex-start;
   height: 40px;
}


.learn{
     height: 300px;
}





/*styling of gallary sectiong starts here*/

/*head*/
.headncc{
   font-weight:40px;
   font-size:30px;
   position:relative;
   margin:10px;
}

.galhead{
 text-align: center;
 padding-top: 3vh;
 height: 10vh;
}
.galhead hr{
    margin-top: 2vh;
}

/*photo section*/
.row{
   display: flex;
  
   flex-wrap: wrap;
   padding:10px;
}
.column{
  flex: 50%;
   max-width: 33%;
    padding:10px ;
}


.column img{
    margin-top: 10px;
    vertical-align: center;
    width: 100%;
   cursor: pointer;
}
.column img:hover{
   transform: scale(0.8);
   box-shadow: 0px 32px 70px;
   transition: 0.4s ease-out;
}

.full-img{
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0,0, 0.8);
   position:fixed; top: 0;
   left: 0;
   display: none;
   align-items: center;
   z-index: 100;
   justify-content: center;
}
.full-img img{
   width: 80%;
   height: 80%;

}
.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: white;
  cursor: pointer;
  text-transform: lowercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* for responsive ness*/
@media screen and (max-width:800px) {
   .column{
       flex: 50%;
       max-width: 50%;
   }
   
}
@media  screen and (max-width:1000px) {

   #slideshow{
   overflow: hidden;
   height: 500px;
   width: 700px;
   margin: auto;
   border-radius: 6px;
}

.slides{
   float: left;
   height: 500px;
   width: 700px;

}
.slides img{
   width: 100%;
   height: 100%;
}
.slide-wrapper{
   width: calc(1000px*4);
   animation: slide 20s ease infinite;
}

@keyframes slide{

   20% {
      margin-left: 0px;
  }
  40% {
      margin-left: calc(-700px * 1);
  }
  60% {
      margin-left: calc(-700px * 2);
  }
  80% {
      margin-left: calc(-700px * 3);
  }
}
}

@media screen and (max-width: 600px) {
   #slideshow{
      overflow: hidden;
      height: 200px;
      width: 320px;
      margin: auto;
      border-radius: 6px;
   }
   
   .slides{
      float: left;
      height: 200px;
      width: 320px;
   
   }
   .slides img{
      width: 100%;
      height: 100%;
   }
   .slide-wrapper{
      width: calc(320px*4);
      animation: slide 20s ease infinite;
   }
   
   @keyframes slide{
   
      20% {
         margin-left: 0px;
     }
     40% {
         margin-left: calc(-320px * 1);
     }
     60% {
         margin-left: calc(-320px * 2);
     }
     80% {
         margin-left: calc(-320px * 3);
     }
   }
   }
   
   .column {
     flex: 100%;
     max-width: 100%;
   }
   .full-img img{
      height: 40vh;
      width: 90%;
   }
   .nit img{
      margin: 14px 0;
      width: 90px;
      height: 90px;
   }
   .headncc{
      font-weight:30px;
      font-size:20px;
      position:relative;
      margin:10px;
   }
   .headncc::before{
      width: 10px;
      height: 3px;
   }
  .glry{
     flex-direction: column;
  }
  .glry .show{
     flex-direction: row;
     width: 100%;

  }
  .show img {
   width: 95%;
   height: 90px;
   padding: 0;
   margin: 10px 10px 10px 0px;
   border: 4px solid white;
   opacity: 0.8;
   margin: 10;
   cursor: pointer;
}


/*styling of gallery section*/



.glry{
    display: flex;
    max-width:1000px;
    margin: auto;
}
.display{
   margin: 15px;
padding: 10px;
}
.display img{
   width: 100%;
   border: 4px solid white;
}
.display button{
   width: 20vh;
   height: 5vh;
   border: 2px solid white;
   
   border-radius: 3px;
   color: white;
   margin-top:10px ;

}
.show{
   display: flex;
   flex-direction: column;
   width: 40%;
   padding: 15px;
}
.show img{
   width: 100%;
   padding:0;
   margin: 10px 10px 10px 0px;
   border: 4px solid white;
   opacity: 0.8;
   cursor: pointer;
}
.show img:hover{
   opacity: 1;
   transform: scale(1.1);
}


 /*styling of learn section*/

 .learn{
    width: 100%;
    margin: auto;
    padding:30px ;
    background-color: rgb(224, 217, 217);
    color:black; max-width:1000px;
   height: auto;
 }
 .learn h1{
    padding: 0px 0px 8px 0px;

 }
 .learn p{
  padding:  0px 0px 8px 0px;
  line-height: 20px;
 }
 .learn a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
 }
 .learn button{
    width: 20vh;
    height: 5vh;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px black;
    background-color: #260075;
    border-radius: 3px;
 }
 .home-gallery{
   
   
    margin: 20px auto ;
    background-color: #0C004E;
    
   
    width: 100%;
    margin: auto;
    padding:30px ;
    
    color: white;
   height: auto;
    
 }
 #view-all{
    background-color: #260075;
 }
 .hovereffect :hover{
    transform: scale(1.1);
    transition: 0.1s ease;
 }
 /* below this is for footer*/

.foot{
   height: auto;
   background-color: #213039;
   color: white;
   text-align: center;
  
}
.foot h1 {
   margin-top: 10px;
}
.sociallink{
   display: flex;
   justify-content: center;
}
.social{
    width: 50px;
    margin: 10px;
    height: 50px;

    

}
.social a{
   width: 100%;
   height: 100%;
   margin: 10px;
   padding-top: 10px;
}

.fa-facebook {
   background: #3B5998;
   color: white;
   
 }
 
 .fa-twitter {
   background: #55ACEE;
   color: white;
 }
 .fa-youtube {
   background: #bb0000;
   color: white;
 }
 
 .fa-instagram {
   background: #125688;
   color: white;
 }
 
  
